*,
*:focus,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
/* Custom properties, update these for you own design */
:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secundary: "Fira Sans", monospace;
  --ff-text: "Hind", "monospace";
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-bg-light: #f2f2f2;
  --clr-gray-light: #4f5050;
  --clr-dark: #303030;
  --clr-black: #000;
  --clr-gray: #d1cdd6;
  --clr-accent: #b0eadb;
  --clr-green: #46deb7;
  --clr--buttons: #40a594;

  --fs-h1-intro: 6.25rem;
  --fs-h2-intro: 1.25rem;
  --fs-p-intro: 1.25rem;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75rem rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs-box: 0px 2px 20px 0.5px rgba(56, 56, 56, 0.51);
}

@media (min-width: 736px) {
  :root {
    --fs-h1: 3.25rem;
    --fs-h2: 2.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */
html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
p {
  font-family: var(--ff-text);
}
strong {
  font-weight: var(--fw-bold);
}

/* BUTTONS */
.button {
  background: var(--clr--buttons);
  color: var(--clr-light);
  cursor: pointer;
  font-family: var(--ff-text);
  font-weight: var(--fw-reg);
  border-radius: 0.2em;
  border: 0px;
  border-bottom: 2px solid #2b6e63;
  height: 2em;
  letter-spacing: 2px;
  margin: 1em 0em;
  line-height: 2em;
}
.button:hover {
  opacity: 0.5;
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* HEADER  hidden things*/
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}
@media (min-width: 600px) and (max-width: 736px) {
  .header {
    margin-bottom: 0;
  }
}
.logo {
  max-width: 70px;
  margin: 1em;
}
.logo-nana {
  max-width: 100%;
}
.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  transform: translatex(100%);
}
.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav__links {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}
.nav__links:hover {
  color: var(--clr-accent);
}
.nav-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.nav-open .nav {
  transform: translatex(0);
}
.nav-open .nav-toggle {
  position: fixed;
}
.nav-open .hamburger {
  transform: rotate(0.625turn);
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
  opacity: 0;
}
.hamburger {
  background: var(--clr-dark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  display: block;
  position: relative;
  margin-top: 40px;
  margin-right: 40px;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-light);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* Introduction Section */
.intro {
  display: block;
  background-image: url(/img/profile-bg-logo-pics/phonenanagarcia.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.heading {
  color: var(--clr-light);
  text-align: center;
}
.heading__container--hi {
  font-size: var(--fs-body);
}
.heading__container--profession {
  font-family: var(--ff-secundary);
  font-size: var(--fs-body);
}
@media (min-width: 600px) and (max-width: 736px) {
  .intro {
    background-image: url(/img/profile-bg-logo-pics/webistenanagarcia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .heading__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    max-width: 90%;
    margin: 0 auto;
  }
  .heading__container--hi,
  .heading__container--name,
  .heading__container--profession {
    grid-column: 2;
    text-align: left;
  }
}
@media (min-width: 737px) {
  .intro {
    background-image: url(/img/profile-bg-logo-pics/webistenanagarcia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .heading__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    max-width: 90%;
    margin: 0 auto;
  }
  .heading__container--hi,
  .heading__container--name,
  .heading__container--profession {
    grid-column: 2;
    text-align: left;
  }
  .heading__container--name {
    font-size: 5rem;
  }
  .heading__container--profession {
    font-size: 1.2rem;
  }
}

/* ABOUT ME */
.about-me {
  padding: 2em;
  color: var(--clr-gray-light);
}
.section__title--about {
  margin: 0;
}
.section__subtitle--about {
  margin: 0;
  margin-bottom: 1em;
  font-family: var(--ff-text);
  font-weight: var(--fw-reg);
  font-size: 24px;
}
@media (min-width: 800px) {
  .about-me {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    padding: 5em;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2.2em;
  }

  .section__subtitle--about {
    margin-bottom: 2em;
  }
}

/* My Services Section */
.my-services {
  background-color: var(--clr-dark);
  background-image: url(/img/profile-bg-logo-pics/bg-grafitti_.png);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center center;
  color: var(--clr-light);
  text-align: center;
  padding: 5em 2em;
}
.section__title--services {
  color: var(--clr-accent);
  position: relative;
}
.section__title--services::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.2;
}
.service {
  max-width: 100px;
  margin: 4em auto;
}
.service img {
  margin-bottom: 1em;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
  .service img:hover {
    transform: scale(1.1);
  }
}

/* MY WORK */
.my-work,
.section__title--work,
.section__subtitle--work {
  text-align: center;
  margin: 2em 0;
}
.section__title--work::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-dark);
  opacity: 0.2;
}
@media (min-width: 600px) {
  .section__title--work,
  .section__subtitle--work {
    margin-bottom:0;
  }
}
.wraper__illustration,
.wapper__branding {
}
.illustration__item,
.branding__item {
  max-width: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--bs-box);
  margin: 1.5em auto;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .my-work__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    justify-content: space-evenly;
    padding: 2em 3em;
  }
  .wraper__illustration,
  .wapper__branding {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    padding: 2em 3em;
  }
}

@media (min-width: 1025px) {
  .wraper__illustration {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    padding: 2em 3em;
    justify-content: space-evenly;
  }
  .wapper__branding {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    padding: 3em;
    justify-content: space-evenly;
  }
}

/* CONTACT ME */
.contact {
  display: grid;
  background: var(--clr-bg-light);
  text-align: center;
  grid-template-columns: 1fr;
  padding: 1.5em;
}
/* form */
.contact__container {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  margin-top: 2em;
  padding: 2em 2em;
  box-shadow: var(--bs-box);
  min-height: 500px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
}
.section__subtitle--contact {
  text-align: center;
}
.contact__container--form {
  display: flex;
  flex-direction: column;
}
.input {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid var(--clr-gray);
  font-family: var(--ff-primary);
  margin-bottom: 1em;
  padding-left: 0.5em;
  height: 3em;
}
.text-area {
  border: 1px solid var(--clr-gray);
  border-radius: 5px;
  min-height: 150px;
  resize: none;
}
/* contact info */

.contact__info {
  margin: 4em 0em;
  justify-self: center;
}
.contact__info--item {
  display: flex;
  align-items: stretch;
  min-height: 30px;
  align-items: center;
}
.contact__info--item p {
  margin: 0;
  margin-left: 1em;
  color: var(--clr-dark);
  font-size: var(--fs-body);
}
/* social media */
.contact__social-media {
  font-size: 50px;
}
.contact__social-media--list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.contact__social-media--list li {
  display: flex;
  color: var(--clr-light);
  margin: 0 0.2em;
  text-decoration: none;
}
.contact__social-media--list a {
  color: var(--clr-dark);
}

@media (min-width: 737px){
  .contact {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-areas:
     "title form",
     "info form",
     "social form"
      ;
   
  }
  .contact__container {
    grid-area: form;
  }
  
}
@media screen and (min-width: 767px) {
  .contact {
    max-width: 100%;
    padding: 2em 8em;
    justify-content: center;
    margin: 0;
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "info message"
      "social message";
    justify-content: space-between;
    grid-gap: 1em;
  }
  .section__title--contact {
    grid-area: title;
    margin-bottom: 1em;
    text-align: center;
  }
  .contact__container {
    grid-area: message;
    position: relative;
    left: 3em;
    margin: 0;
  }
  .contact__info {
    grid-area: info;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contact__social-media {
    grid-area: social;
    align-self: center;
    padding: 0;
    position: relative;
  }
  
  .contact__social-media a:hover {
    opacity: 0.5;
  }
  .contact__social-media--list {
    margin: 0;
    margin-top: 0.5em;
  }
}

/* FOOTER */
.footer {
  display: block;
  text-align: center;
  width: 100%;
  background: var(--clr-black);
}
.footer__copyright,
.footer__legal {
  margin: 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.7em;
  font-weight: 100;
}
.footer a {
  text-decoration: none;
}
@media screen and (min-width: 767px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer a {
    padding: 1em;
  }
}

/*PORTAFOLIO ITEM STYLE */
/* escarabajo */
.intro-portafolio-escarabajo {
  background-image: url(/img/projects/escarabajo/cover-version-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
}
.portafolio {
  display: block;
  padding: 0;
}
@media (min-width: 600px) {
  .intro-portafolio-escarabajo {
    background-image: url(/img/projects/escarabajo/1.jpg);
  }
}

/* portafolio musetto */
.intro-portafolio-musetto {
  background-image: url(/img/projects/musetto/11.Mobile-cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.ice-cream {
  padding: 0;
}
@media (min-width: 600px) {
  .intro-portafolio-musetto {
    background-image: url(/img/projects/musetto/1.portada.jpg);
  }
  .ice-cream .ice-cream__bg--img {
    max-width: 100%;
    height: auto;
  }
  .ice-cream__products {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}

/* mom and dad */
.intro-portafolio-mom-dad {
  background-image: url(/img/projects/mom-dad/covermobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
@media (min-width: 600px) {
  .intro-portafolio-mom-dad {
    background-image: url(/img/projects/mom-dad/cover.png);
  }
  .portafolio__container--item {
    margin: 0;
  }
  .portafolio-mom-dad {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

/* Zarate */
.intro-portafolio-zarate {
  background-image: url(/img/projects/ZARATE/cover-mobile.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
@media (min-width: 600px) {
  .intro-portafolio-zarate {
    background-image: url(/img/projects/ZARATE/ZARATE_1.jpg);
  }
  .portafolio__container > .item--18 {
    max-width: 100%;
    padding-top: 56.25%;
    position: relative;
  }
}

.portafolio__item--video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Artworks set up in grids */
.portafolio__container--artworks {
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .portafolio__container--artworks {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 1em auto;
  }
  .item--1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .item--2 {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
  }
  .item--3 {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
  }
  .item--8 {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }
  .item--10 {
    grid-column: 4 / 6;
    grid-row: 4 / 6;
  }
}
.coming {
  font-size: 12px;
}
